@model IEnumerable<ZachPerini_6._3A_HA.Models.Artefact>

@{
    ViewData["Title"] = "SharedArtefacts";
}

<h1>Shared With Me</h1>

@if (!Model.Any())
{
    <p>No document shared with you.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>File Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @{
                            //if status = 1 meaning the file has been converted to pdf
                            // then show the download link

                            var filename = item.Id + ".pdf";
                            if (item.status == "1")
                            {
                                <a href="https://storage.cloud.google.com/artefact_bucket_zp/@filename">Download PDF</a>
                            }
                        }
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
